<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>custompayment</name>
    <displayName><![CDATA[Custom Payment]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Custom Payment Method with QR Code and Slip Upload]]></description>
    <author><![CDATA[Your Name]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>